{% load static %}

<!-- Section Counters -->
<div class="c-section -space-large -bg-blue-light section-counters-1">
    <div class="c-container">
        <div class="row -gutter-medium align-items-center">
            <div class="col-lg-6">
                <!-- Heading -->
                <h6 class="u-text-sup">ABOUT</h6>
                <h2 class="u-text-hero">we have some <br>words to say</h2>
                <p class="u-text-lead">Lorem ipsum dolor sit amet adipiscing elit. Integer ultrices <br>eget elit ac sodales. In hac habitasse platea dictumst.</p>
                <p class="u-margin-top-40"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">GET STARTED WITH CURSOR <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                <!-- Heading End -->
            </div>
            <div class="col-lg-6">
                <!-- Counters -->
                <div class="row -gutter-small">
                    <div class="col-sm-6">
                        <!-- Counter -->
                        <div class="c-counter-1 -style-boxed -js-counter">
                            <span class="c-counter-1-icon ion-ios-flask-outline"></span>
                            <h6 class="c-counter-1-title">PROJECTS</h6>
                            <span class="c-counter-1-value" data-from="0" data-to="380" data-speed="5000" data-refresh-interval="80">0</span>
                        </div>
                        <!-- Counter End -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Counter -->
                        <div class="c-counter-1 -style-boxed -js-counter">
                            <span class="c-counter-1-icon ion-ios-star-outline u-color-blue"></span>
                            <h6 class="c-counter-1-title">AWARDS</h6>
                            <span class="c-counter-1-value" data-from="0" data-to="170" data-speed="5000" data-refresh-interval="80">0</span>
                        </div>
                        <!-- Counter End -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Counter -->
                        <div class="c-counter-1 -style-boxed -js-counter">
                            <span class="c-counter-1-icon ion-ios-heart-outline u-color-orange"></span>
                            <h6 class="c-counter-1-title">CUSTOMERS</h6>
                            <span class="c-counter-1-value" data-from="0" data-to="245" data-speed="5000" data-refresh-interval="80">0</span>
                        </div>
                        <!-- Counter End -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Counter -->
                        <div class="c-counter-1 -style-boxed -js-counter">
                            <span class="c-counter-1-icon ion-ios-paper-outline u-color-yellow"></span>
                            <h6 class="c-counter-1-title">LINES OF CODE</h6>
                            <span class="c-counter-1-value" data-from="0" data-to="974" data-speed="5000" data-refresh-interval="80">0</span>
                        </div>
                        <!-- Counter End -->
                    </div>
                </div>
                <!-- Counters End -->
            </div>
        </div>
    </div>
</div>
<!-- Section Counters End -->