{% extends 'base.html' %}

{% block title %} Setelec Home Page {% endblock%}
{% block follow %}
    {% if follow %}
        follow
    {% else %}
        nofollow
    {% endif %}
{% endblock %}
{% block index %}
    {% if index %}
        index
    {% else %}
        noindex
    {% endif %}
{% endblock %}

{% block content %}

{% include 'inc/header-main.html' %}

{% include 'home/about.html' %}
{% include 'home/services.html' %}
{% include 'home/testimonials.html' %}
{% include 'home/clients.html' %}
{% include 'home/blog.html' %}

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->

{% include 'inc/footer-main.html' %}

{% endblock %}