{% load static %}

<!-- Section Post -->
<div class="c-section -space-large">
    <div class="c-container -size-small">
        <article class="page-post-1">
            <!-- Post Header -->
            <div class="page-post-1-header">
                <h1 class="u-text-title">Cursor Corporate Identity</h1>
                <p class="u-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor congue <br>aliquam. Vivamus non libero tellus. Praesent vestibulum mauris quis mi <br>aliquam vitae sodales justo blandit.</p>
            </div>
            <!-- Post Header End -->

            <!-- Post Body -->
            <div class="page-post-1-body">
                <!-- Post Media -->
                <div class="page-post-1-media">
                    <img src="assets/img/portfolio-4-1000x500.jpg" alt="Post Title">
                </div>
                <!-- Post Media End -->

                <!-- Post Content -->
                <div class="page-post-1-content">
                    {{ data.body }}
                </div>
                <!-- Post Content End -->

            </div>
            <!-- Post Body End -->
        </article>
    </div>
</div>
<!-- Section Post End -->