{% load static %}

<!-- Section Title -->
<div class="c-section -space-large -bg-dark u-flex u-flex-align-end u-height-v90" data-cursor-overlay="4">
    <div class="c-section-photo" data-cursor-bg-img="{{ mission_vision.banner.url }}"></div>
    <div class="c-section-overlay"></div>
    <div class="c-container">
        <!-- Heading -->
        <h6 class="u-text-sup u-color-white">{{ mission_vision.title }}</h6>
        <h1 class="u-text-hero u-color-white">{{ mission_vision.subtitle }}</h1>
        <p class="u-text-lead u-color-white">{{ mission_vision.description }}</p>
        <!-- Heading End -->
    </div>
</div>
<!-- Section Title End -->