{% load static %}

<!-- Section Blog -->
<div class="c-section -space-large">
    <div class="c-container">
        <!-- Heading -->
        <h6 class="u-text-sup">CORPORATE BLOG</h6>
        <h1 class="u-text-hero">latest posts, stay updated</h1>
        <p class="u-text-lead">Lorem ipsum dolor sit amet consectetur adipiscing elit <br>semper tempor congue aliquam.</p>
        <!-- Heading End -->

        <!-- Space -->
        <div class="u-space-100 u-space-120@xl"></div>
        <!-- Space End -->

        <!-- Blog -->
        <div class="row -gutter-medium">
            <div class="col-lg-8">
                <!-- Blog List -->
                <div class="c-blog-2">
                    <!-- Blog Inner -->
                    <div class="c-blog-2-inner">
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-standard -has-sticky">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-sticky">
                                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                </div>
                                <div class="c-blog-2-media">
                                    <div class="c-blog-2-media-photo">
                                        <a class="c-blog-2-media-link" href="#"><img class="c-blog-2-media-image" src="assets/img/blog-1-landscape.jpg" alt="Post Title"></a>
                                    </div>
                                </div>
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Creative</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Sticky</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-standard">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-media">
                                    <div class="c-blog-2-media-photo">
                                        <a class="c-blog-2-media-link" href="#"><img class="c-blog-2-media-image" src="assets/img/blog-2-landscape.jpg" alt="Post Title"></a>
                                    </div>
                                </div>
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Design</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Image</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-gallery">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-media">
                                    <div class="c-blog-2-media-gallery">
                                        <div class="owl-carousel -nav-icon -nav-dark -nav-middle-between -dots-white -dots-bottom -js-carousel" data-owl-items="1" data-owl-autoplay="true" data-owl-rewind="true" data-owl-dots="true" data-owl-nav="true" data-owl-navtext='["",""]'>
                                            <a class="c-blog-2-media-link" href="#"><img class="c-blog-2-media-image" src="assets/img/blog-3-landscape.jpg" alt="Post Title"></a>
                                            <a class="c-blog-2-media-link" href="#"><img class="c-blog-2-media-image" src="assets/img/blog-4-landscape.jpg" alt="Post Title"></a>
                                            <a class="c-blog-2-media-link" href="#"><img class="c-blog-2-media-image" src="assets/img/blog-5-landscape.jpg" alt="Post Title"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Marketing</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Gallery</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-video">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-media">
                                    <div class="c-blog-2-media-video fitvids">
                                        <iframe src="https://www.youtube.com/embed/y6neDdEOVQQ?rel=0&amp;showinfo=0" width="640" height="360" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Digital</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Video</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-audio">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-media">
                                    <div class="c-blog-2-media-audio">
                                        <iframe height="200" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186965167&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                    </div>
                                </div>
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Graphic</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Audio</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-quote">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Community</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Quote</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
                                        <p><em>-Doctor Who</em></p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-aside">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Creative</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Aside</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-status">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Design</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Status</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-chat">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Marketing</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Chat</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p><b>Costello:</b> You know the fellows’ names?</p>
                                        <p><b>Abbott:</b> Yes.</p>
                                        <p><b>Costello:</b> Well, then who’s playing first?</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-link">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Digital</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Link</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p><a href="http://www.google.com" target="_blank">http://www.google.com</a></p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                        <!-- Blog Item -->
                        <article class="c-blog-2-item -format-standard">
                            <div class="c-blog-2-item-inner">
                                <div class="c-blog-2-info">
                                    <h5 class="c-blog-2-info-category"><a href="#">Graphic</a></h5>
                                    <h3 class="c-blog-2-info-title"><a href="#">Playing With Number :Standard</a></h3>
                                    <ul class="c-blog-2-info-meta">
                                        <li class="c-blog-2-info-meta-item">April 16, 2016</li>
                                        <li class="c-blog-2-info-meta-item"><a class="c-blog-2-info-meta-link" href="#">0 Comments</a></li>
                                        <li class="c-blog-2-info-meta-item">By <a class="c-blog-2-info-meta-link" href="#">Bobbie Ryan</a></li>
                                    </ul>
                                    <div class="c-blog-2-info-summary">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id est tortor.</p>
                                    </div>
                                    <div class="c-blog-2-info-link"><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                </div>
                            </div>
                        </article>
                        <!-- Blog Item End -->
                    </div>
                    <!-- Blog Inner End -->
                </div>
                <!-- Blog List End -->

                <!-- Space -->
                <div class="u-space"></div>
                <!-- Space End -->

                <!-- Pagination -->
                <div class="c-pagination-1 -style-outline -size-large">
                    <ul class="c-pagination-1-inner">
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link -prev -is-disabled" href="#"><i class="c-pagination-1-icon fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link active" href="#">1</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">2</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">3</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">4</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link -next" href="#"><i class="c-pagination-1-icon fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Pagination End -->
            </div>
            <div class="col-lg-4">
                <!-- Blog Sidebar -->
                <div class="c-sidebar-1">
                    <!-- Sidebar Search -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-search">
                            <form class="c-sidebar-1-search-form">
                                <input class="c-sidebar-1-search-field" type="text" placeholder="Search for ...">
                                <button class="c-sidebar-1-search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- Sidebar Search End -->
                    <!-- Sidebar Categories -->
                    <div class="c-sidebar-1-widget">
                        <nav class="c-sidebar-1-nav">
                            <h3 class="c-sidebar-1-widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Digital</a></li>
                                <li><a href="#">Graphic</a></li>
                                <li><a href="#">Community</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Sidebar Categories End -->
                    <!-- Sidebar Recent Posts -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-recentposts">
                            <h3 class="c-sidebar-1-widget-title">Recent Posts</h3>
                            <ul>
                                <li>
                                    <h5><a href="#">Playing With Number</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Cursor Corporate Identity</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Knock Knock Global</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Recent Posts End -->
                    <!-- Sidebar Tags Cloud -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-tags">
                            <h3 class="c-sidebar-1-widget-title">Tags Cloud</h3>
                            <ul>
                                <li><a href="#">CORPORATE</a></li>
                                <li><a href="#">MARKETING</a></li>
                                <li><a href="#">GRAPHIC</a></li>
                                <li><a href="#">CREATIVE</a></li>
                                <li><a href="#">DIGITAL</a></li>
                                <li><a href="#">GRAPHIC DESIGN</a></li>
                                <li><a href="#">PERSONAL</a></li>
                                <li><a href="#">EVENTS</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Tags Cloud End -->
                    <!-- Sidebar Recent Comments -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-recentcomments">
                            <h3 class="c-sidebar-1-widget-title">Recent Comments</h3>
                            <ul>
                                <li>
                                    <h5><a href="#">Playing With Number</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Cursor Corporate Identity</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Knock Knock Global</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Recent Comments End -->
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
        <!-- Blog End -->
    </div>
</div>
<!-- Section Blog End -->