{% load static %}

<!-- Section Blog -->
<div class="c-section -space-large">
    <div class="c-container">
        <!-- Heading -->
        <h6 class="u-text-sup">CORPORATE BLOG</h6>
        <h1 class="u-text-hero">latest posts, stay updated</h1>
        <p class="u-text-lead">Lorem ipsum dolor sit amet consectetur adipiscing elit <br>semper tempor congue aliquam.</p>
        <!-- Heading End -->

        <!-- Space -->
        <div class="u-space-100 u-space-120@xl"></div>
        <!-- Space End -->

        <!-- Blog -->
        <div class="row -gutter-medium">
            <div class="col-lg-8">
                <!-- Blog List -->
                <div class="c-blog-2">
                    <!-- Blog Inner -->
                    <div class="c-blog-2-inner">
                        {% for blog in blogs %}
                            <!-- Blog Item -->
                            <article class="c-blog-2-item -format-standard">
                                <div class="c-blog-2-item-inner">
                                    <div class="c-blog-2-media">
                                        <div class="c-blog-2-media-photo">
                                            <a class="c-blog-2-media-link"><img class="c-blog-2-media-image" src="{{ blog.cover.url }}" alt="{{ blog.alt_cover }}"></a>
                                        </div>
                                    </div>
                                    <div class="c-blog-2-info">
                                        <h5 class="c-blog-2-info-category"><a href="#">{{ blog.category }}</a></h5>
                                        <h3 class="c-blog-2-info-title"><a href="{% url 'blog:blog_item' blog.slug %}">{{ blog.title }}</a></h3>
                                        <ul class="c-blog-2-info-meta">
                                            <li class="c-blog-2-info-meta-item">{{ blog.updated }}</li>
                                            <li class="c-blog-2-info-meta-item">By {{ blog.author }}</li>
                                        </ul>
                                        <div class="c-blog-2-info-summary">
                                            {{ blog.body }}
                                        </div>
                                        <div class="c-blog-2-info-link"><a href="{% url 'home:blog_item' blog.slug %}" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></div>
                                    </div>
                                </div>
                            </article>
                            <!-- Blog Item End -->
                        {% endfor %}
                    </div>
                    <!-- Blog Inner End -->
                </div>
                <!-- Blog List End -->

                <!-- Space -->
                <div class="u-space"></div>
                <!-- Space End -->

                <!-- Pagination -->
                <div class="c-pagination-1 -style-outline -size-large">
                    <ul class="c-pagination-1-inner">
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link -prev -is-disabled" href="#"><i class="c-pagination-1-icon fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link active" href="#">1</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">2</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">3</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link" href="#">4</a>
                        </li>
                        <li class="c-pagination-1-item">
                            <a class="c-pagination-1-link -next" href="#"><i class="c-pagination-1-icon fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Pagination End -->
            </div>
            <div class="col-lg-4">
                <!-- Blog Sidebar -->
                <div class="c-sidebar-1">
                    <!-- Sidebar Search -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-search">
                            <form class="c-sidebar-1-search-form">
                                <input class="c-sidebar-1-search-field" type="text" placeholder="Search for ...">
                                <button class="c-sidebar-1-search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- Sidebar Search End -->
                    <!-- Sidebar Categories -->
                    <div class="c-sidebar-1-widget">
                        <nav class="c-sidebar-1-nav">
                            <h3 class="c-sidebar-1-widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Digital</a></li>
                                <li><a href="#">Graphic</a></li>
                                <li><a href="#">Community</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Sidebar Categories End -->
                    <!-- Sidebar Recent Posts -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-recentposts">
                            <h3 class="c-sidebar-1-widget-title">Recent Posts</h3>
                            <ul>
                                <li>
                                    <h5><a href="#">Playing With Number</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Cursor Corporate Identity</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Knock Knock Global</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Recent Posts End -->
                    <!-- Sidebar Tags Cloud -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-tags">
                            <h3 class="c-sidebar-1-widget-title">Tags Cloud</h3>
                            <ul>
                                <li><a href="#">CORPORATE</a></li>
                                <li><a href="#">MARKETING</a></li>
                                <li><a href="#">GRAPHIC</a></li>
                                <li><a href="#">CREATIVE</a></li>
                                <li><a href="#">DIGITAL</a></li>
                                <li><a href="#">GRAPHIC DESIGN</a></li>
                                <li><a href="#">PERSONAL</a></li>
                                <li><a href="#">EVENTS</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Tags Cloud End -->
                    <!-- Sidebar Recent Comments -->
                    <div class="c-sidebar-1-widget">
                        <div class="c-sidebar-1-recentcomments">
                            <h3 class="c-sidebar-1-widget-title">Recent Comments</h3>
                            <ul>
                                <li>
                                    <h5><a href="#">Playing With Number</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Cursor Corporate Identity</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                                <li>
                                    <h5><a href="#">Knock Knock Global</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit fringilla sollicitudin.</p>
                                    <h6><a href="#">Bobbie Ryan</a> May 12, 2016 18:30</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar Recent Comments End -->
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
        <!-- Blog End -->
    </div>
</div>
<!-- Section Blog End -->