{% load static %}

<!-- Section Services -->
<div class="c-section">
    <div class="c-container -overlap-top-large">
        <div class="row -gutter-medium">
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-flask-outline"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-green">Development</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-green">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-gear-outline"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-blue">Technical Design</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-blue">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-sunny-outline"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-orange">Interaction Design</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-orange">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-crop"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-yellow">Visual Design</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-yellow">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-alarm-outline"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-purple">Project Management</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-purple">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
            <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="ion-ios-analytics-outline"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-green">Animation</h5>
                        <p class="c-summary-3-description u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante eros, luctus sit amet tortor quis, tempor convallis massa. Maecenas pellentesque sagittis quam, et sollicitudin tincidunt placerat. Nam quis dui ac sapien condimentum gravida.</p>
                        <p class="c-summary-3-link"><a href="#" class="c-link-1 u-color-green">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
            </div>
        </div>
    </div>
</div>
<!-- Section Services End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->