{% load static %}

<!-- Section Services -->
<div class="c-section">
    <div class="c-container -overlap-top-large">
        <div class="row -gutter-medium">
            {% for item in add_customer %}
                <div class="col-12">
                <!-- Summary -->
                <div class="c-summary-3 -icon-right">
                    <div class="c-summary-3-icon">
                        <span class="{{ item.icon_class }}"></span>
                    </div>
                    <div class="c-summary-3-info">
                        <h5 class="c-summary-3-title u-color-green">{{ item.title }}</h5>
                        <p class="c-summary-3-description u-color-grey">{{ item.description }}</p>
                        <p class="c-summary-3-link"><a href="{{ item.link }}" class="c-link-1 u-color-green">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
                    </div>
                </div>
                <!-- Summary End -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Section Services End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->