{% load static %}

<!-- Section Title -->
<div class="c-section -space-large">
    <div class="c-container">
        <!-- Heading -->
        <p><span class="c-label-1 -style-outline -color-green -corner-circle">{{ blog.category.category }}</span></p>
        <h1 class="u-text-title">{{ blog.title }}</h1>
        <p class="u-text-lead">{{ blog.description }}</p>
        <!-- Heading End -->
    </div>
</div>
<!-- Section Title End -->

<!-- Section Post -->
<div class="c-section -bg-grey">
    <div class="c-container -overlap-top-large">
        <article class="page-post-3">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post Body -->
                    <div class="page-post-3-body">
                        <!-- Post Info -->
                        <div class="page-post-3-info">
                            <div class="page-post-3-author">
                                <a class="page-post-3-author-name">{{ blog.author }}</a>
                            </div>
                            <div class="page-post-3-meta">
                                <ul>
                                    <li><span class="page-post-3-meta-icon ion-ios-bookmarks-outline"></span> {{ blog.updated }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Post Info End -->

                        <!-- Post Content -->
                        <div class="page-post-3-content">
                            {{ blog.body }}
                        </div>
                        <!-- Post Content End -->

                    </div>
                    <!-- Post Body End -->
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar -->
                    <div class="page-post-3-sidebar">
                        <div class="c-sidebar-1">
                            <!-- Sidebar Categories -->
                            <div class="c-sidebar-1-widget">
                                <nav class="c-sidebar-1-nav">
                                    <h3 class="c-sidebar-1-widget-title">Categories</h3>
                                    <ul>
                                        {% for category in categories %}
                                            <li><a href="{% url 'blog:blog_category' category.slug %}">{{ category.category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <!-- Sidebar Categories End -->

                            <!-- Sidebar Recent Posts -->
                            <div class="c-sidebar-1-widget">
                                <div class="c-sidebar-1-recentposts">
                                    <h3 class="c-sidebar-1-widget-title">Recent Posts</h3>
                                    <ul>
                                        {% for blog in blogs %}
                                            <li>
                                                <h5><a href="#">{{ blog.title }}</a></h5>
                                                <p>{{ blog.description }}</p>
                                                <h6><a href="#">{{ blog.author }}</a> {{ blog.updated }}</h6>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Recent Posts End -->
                        </div>
                    </div>
                    <!-- Post Sidebar End -->
                </div>
            </div>
        </article>
    </div>
</div>
<!-- Section Post End -->