{% load static %}

<!-- Section Post -->
<div class="c-section -space-large">
    <div class="c-container -size-small">
        <article class="page-post-1">
            <!-- Post Header -->
            <div class="page-post-1-header">
                <h1 class="u-text-title">{{ content.title }}</h1>
                <p class="u-text-lead">{{ content.description }}</p>
            </div>
            <!-- Post Header End -->

            <!-- Post Body -->
            <div class="page-post-1-body">
                <!-- Post Media -->
                <div class="page-post-1-media">
                    <img src="{{ content.image.url }}" alt="{{ content.image_alt}}">
                </div>
                <!-- Post Media End -->

                <!-- Post Content -->
                <div class="page-post-1-content">
                    {{ content.body }}
                </div>
                <!-- Post Content End -->

            </div>
            <!-- Post Body End -->
        </article>
    </div>
</div>
<!-- Section Post End -->