


	<!-- Vendors -->
	<script src="assets/vendors/jquery.min.js"></script>
	<script src="assets/vendors/tether.min.js"></script>
	<script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
	<script src="assets/vendors/magnific-popup/js/magnific-popup.min.js"></script>
	<script src="assets/vendors/waypoints/waypoints.min.js"></script>
	<script src="assets/vendors/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vendors/isotope.pkgd.min.js"></script>
	<script src="assets/vendors/countdown.min.js"></script>
	<script src="assets/vendors/smoothscroll.js"></script>
	<script src="assets/vendors/sweet-scroll.min.js"></script>
	<script src="assets/vendors/stellar.min.js"></script>
	<script src="assets/vendors/fitvids.js"></script>
	<script src="assets/vendors/countto.js"></script>
	<script src="assets/vendors/chart.min.js"></script>

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI6l3aScGNBNG_7-lHZgnU9691uBCid8I"></script>

	<!-- Scripts -->
	<script src="assets/js/main.js"></script>
	<script src="assets/js/theme.default.js"></script>
	<script src="assets/js/custom.js"></script>
