{% load static %}
<!-- Section Project -->
    <div class="c-container">

        <!-- Project -->
        <div class="row -gutter-medium">
            <div class="col-md-4">
                <!-- Project Info -->
                <h5 class="u-text-w400">Overview</h5>
                <p class="u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ultricies justo ut viverra. Curabitur ac arcu eget sapien efficitur suscipit.</p>
                <p class="u-color-grey">Magna, sed blandit tortor elit quis quam. Mauris interdum, augue sed blandit commodo, lectus nisl suscipit justo, non consectetur nisi nisl dignissim ligula.</p>
                <h5 class="u-text-w400">Client</h5>
                <p class="u-color-grey">Cursor Inc.</p>
                <h5 class="u-text-w400">Date</h5>
                <p class="u-color-grey">22 Feb 2017</p>
                <h5 class="u-text-w400">Services</h5>
                <p class="u-color-grey">Web Design, Graphic Design</p>
                <h5 class="u-text-w400">Website</h5>
                <p><a class="u-color-grey" href="http://www.studiocursor.com" target="_blank">http://www.studiocursor.com</a></p>
                <!-- Project Info End -->
            </div>
            <div class="col-md-8">
                <!-- Project Video -->
                <div class="fitvids">
                    <iframe src="https://www.youtube.com/embed/y6neDdEOVQQ?rel=0&amp;showinfo=0" width="640" height="360" allowfullscreen></iframe>
                </div>
                <!-- Project Video End -->

                <!-- Space -->
                <div class="u-space-30"></div>
                <!-- Space End -->

                <!-- Project Slider -->
                <div class="c-gallery-1 -js-popup">
                    <div class="c-gallery-1-inner">
                        <div class="owl-carousel -nav-white -nav-icon -nav-large -nav-middle-between -dots-white -dots-bottom -js-carousel" data-owl-items="1" data-owl-nav="true" data-owl-navtext='["",""]' data-owl-autoplay="true" data-owl-rewind="true">
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-1-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-1-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-2-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-2-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-3-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-3-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-4-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-4-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-5-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-5-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                            <div class="c-gallery-1-item">
                                <a class="c-gallery-1-link" href="assets/img/project-6-1920x1280.jpg" title="Project Name">
                            <img class="c-gallery-1-image" src="assets/img/project-6-960x640.jpg" alt="Project Name">
                        </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Slider End -->

                <!-- Space -->
                <div class="u-space-30"></div>
                <!-- Space End -->

                <!-- Project Photos -->
                <div class="c-gallery-1 -js-popup -js-isotope">
                    <div class="c-gallery-1-inner row -gutter-small">
                        <div class="c-gallery-1-size col-md-1"></div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-1-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-1-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-2-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-2-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-3-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-3-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-4-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-4-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-5-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-5-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                        <div class="c-gallery-1-item col-md-4">
                            <a class="c-gallery-1-link" href="assets/img/project-6-1920x1280.jpg" title="Project Name">
                        <img class="c-gallery-1-image" src="assets/img/project-6-480x320.jpg" alt="Project Name">
                    </a>
                        </div>
                    </div>
                </div>
                <!-- Project Photos End -->
            </div>
        </div>
        <!-- Project End -->
    </div>
<!-- Section Project End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->