{% load static %}
<!-- Section Project -->
    <div class="c-container">

        <!-- Project -->
        <div class="row -gutter-medium">
            <div class="col-md-4">
                <!-- Project Info -->
                <h5 class="u-text-w400">Overview</h5>
                <p class="u-color-grey">{{ content.overview }}</p>
                
                <h5 class="u-text-w400">Products:</h5>
                <ul class="u-color-grey">
                    {% for product in products %}
                        <li>{{ product.product }} - {{ product.description }}</li>
                    {% empty %}
                        <li>No products available</li>
                    {% endfor %}
                </ul>
                
                <h5 class="u-text-w400">Features:</h5>
                <ul class="u-color-grey">
                    {% for feature in features %}
                        <li>{{ feature.feature }} - {{ feature.description }}</li>
                    {% empty %}
                        <li>No features available</li>
                    {% endfor %}
                </ul>
                
                <h5 class="u-text-w400">Website</h5>
                <p><a class="u-color-grey" href="{{ content.website }}" target="_blank">{{ content.website }}</a></p>
                <!-- Project Info End -->
            </div>
            <div class="col-md-8">
                <!-- Project Video -->
                <div class="fitvids">
                    <video width="100%" height="auto" controls style="max-width: 100%; aspect-ratio: 16/9;">
                        <source src="{{ content.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- Project Video End -->

                <!-- Space -->
                <div class="u-space-30"></div>
                <!-- Space End -->

                <!-- Project Slider -->
                <div class="c-gallery-1 -js-popup">
                    <div class="c-gallery-1-inner">
                        <div class="owl-carousel -nav-white -nav-icon -nav-large -nav-middle-between -dots-white -dots-bottom -js-carousel" data-owl-items="1" data-owl-nav="true" data-owl-navtext='["",""]' data-owl-autoplay="true" data-owl-rewind="true">
                            {% for image in gallery %}
                                <div class="c-gallery-1-item">
                                    <a class="c-gallery-1-link" href="{{ image.image.url }}" title="{{ image.alt }}">
                                        <img class="c-gallery-1-image" src="{{ image.image.url }}" alt="{{ image.alt }}">
                                    </a>
                                </div>
                            {% empty %}
                                <div class="c-gallery-1-item">
                                    <p>No gallery images available</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Project Slider End -->

                <!-- Space -->
                <div class="u-space-30"></div>
                <!-- Space End -->

                <!-- Project Photos -->
                <div class="c-gallery-1 -js-popup -js-isotope">
                    <div class="c-gallery-1-inner row -gutter-small">
                        <div class="c-gallery-1-size col-md-1"></div>
                        {% for image in gallery %}
                            <div class="c-gallery-1-item col-md-4">
                                <a class="c-gallery-1-link" href="{{ image.image.url }}" title="{{ image.alt }}">
                                    <img class="c-gallery-1-image" src="{{ image.image.url }}" alt="{{ image.alt }}">
                                </a>
                            </div>
                        {% empty %}
                            <div class="c-gallery-1-item col-md-4">
                                <p>No gallery images available</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Project Photos End -->
            </div>
        </div>
        <!-- Project End -->
    </div>
<!-- Section Project End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->