{% load static %}

<!-- Section Pager -->
<div class="c-section">
    <div class="c-container -size-full">
        <!-- Project Pager -->
        <nav class="c-pager-1 -style-centered">
            <ul class="c-pager-1-inner">
                <li class="c-pager-1-item -prev">
                    <h5 class="c-pager-1-title">PREVIOUS PROJECT</h5>
                    <a class="c-pager-1-link" href="#">A Very Big Fire</a>
                </li>
                <li class="c-pager-1-item -next">
                    <h5 class="c-pager-1-title">NEXT PROJECT</h5>
                    <a class="c-pager-1-link" href="#">Playing With Number</a>
                </li>
            </ul>
        </nav>
        <!-- Project Pager End -->
    </div>
</div>
<!-- Section Pager End -->