{% load static %}

<!-- OpenStreetMap with Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- Section Contact -->
<div class="c-section -bg-blue-light">
    <div class="c-container -overlap-top-large">
        <div class="page-contact-1">
            <div class="row -gutter-none">
                <div class="col-12">
                    <div class="page-contact-1-map">
                        <!-- Map -->
                        <div id="map" class="c-map-1" style="height: 500px;"></div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                // Create map
                                var map = L.map('map').setView([{{ contact.latitude_map }}, {{ contact.longitude_map }}], 17);
                                
                                // Add OpenStreetMap tiles
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 19,
                                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                }).addTo(map);
                                
                                // Add marker
                                var marker = L.marker([{{ contact.latitude_map }}, {{ contact.longitude_map }}]).addTo(map);
                                
                                // Add popup with address
                                marker.bindPopup("{{ contact.address }}").openPopup();
                            });
                        </script>
                        <!-- Map End -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="page-contact-1-info">
                        <!-- Contact Title -->
                        <h2 class="page-contact-1-title">Contact Information</h2>
                        <!-- Contact Title End -->

                        <!-- Divider -->
                        <div class="c-divider-1 -style-diagonal -size-large"></div>
                        <!-- Divider End -->

                        <!-- Space -->
                        <div class="u-space"></div>
                        <!-- Space End -->

                        <!-- Summary -->
                        <div class="c-summary-1 -icon-left">
                            <div class="c-summary-1-icon">
                                <span class="ion-ios-location-outline"></span>
                            </div>
                            <div class="c-summary-1-info">
                                <h5 class="c-summary-1-title">Address</h5>
                                <p class="c-summary-1-description u-color-grey">{{ contact.address }}</p>
                            </div>
                        </div>
                        <!-- Summary End -->
                        <hr>
                        <!-- Summary -->
                        <div class="c-summary-1 -icon-left">
                            <div class="c-summary-1-icon">
                                <span class="ion-ios-telephone-outline"></span>
                            </div>
                            <div class="c-summary-1-info">
                                <h5 class="c-summary-1-title">Phone Number</h5>
                                <p class="c-summary-1-description u-color-grey">{{ contact.phone_number }}</p>
                            </div>
                        </div>
                        <!-- Summary End -->
                        <hr>
                        <!-- Summary -->
                        <div class="c-summary-1 -icon-left">
                            <div class="c-summary-1-icon">
                                <span class="ion-ios-email-outline"></span>
                            </div>
                            <div class="c-summary-1-info">
                                <h5 class="c-summary-1-title">E-Mail Address</h5>
                                <p class="c-summary-1-description"><a href="mailto:hello@studiocursor.com" class="u-color-grey">{{ contact.email }}</a></p>
                            </div>
                        </div>
                        <!-- Summary End -->
                        <hr>
                        <h6>Social Media</h6>
                        <!-- Social Icons -->
                        <div class="c-social-1 -color-mixed-outline -hover-mixed-default -size-small">
                            <ul class="c-social-1-inner">
                                <li class="c-social-1-item"><a class="c-social-1-link -icon-facebook" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="c-social-1-item"><a class="c-social-1-link -icon-twitter" href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="c-social-1-item"><a class="c-social-1-link -icon-linkedin" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li class="c-social-1-item"><a class="c-social-1-link -icon-google-plus" href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!-- Social Icons End -->
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="page-contact-1-form">
                        <!-- Contact Title -->
                        <h2 class="page-contact-1-title">Contact Form</h2>
                        <!-- Contact Title End -->

                        <!-- Divider -->
                        <div class="c-divider-1 -style-diagonal -size-large"></div>
                        <!-- Divider End -->

                        <!-- Space -->
                        <div class="u-space"></div>
                        <!-- Space End -->

                        <!-- Contact Form -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="c-form-group">
                                        <label class="c-form-label">Name</label>
                                        <input class="c-form-input" type="text" name="contact-name" placeholder="Enter Your Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="c-form-group">
                                        <label class="c-form-label">Surname</label>
                                        <input class="c-form-input" type="text" name="contact-surname" placeholder="Enter Your Surname" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="c-form-group">
                                        <label class="c-form-label">Email</label>
                                        <input class="c-form-input" type="text" name="contact-email" placeholder="Enter Your Email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="c-form-group">
                                        <label class="c-form-label">Phone</label>
                                        <input class="c-form-input" type="text" name="contact-phone" placeholder="Enter Your Phone" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="c-form-group">
                                        <label class="c-form-label">Message</label>
                                        <textarea class="c-form-textarea" name="contact-message" rows="3" placeholder="Enter Your Message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="c-button-1 -color-green-outline -hover-green-default -size-small" type="submit" name="contact-button">SEND FORM</button>
                                </div>
                            </div>
                        </form>
                        <!-- Contact Form End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section Contact End -->
