{% load static %}

<!-- Section Services -->
<div class="c-section">
    <div class="c-container -size-full">
        <!-- Summary -->
        <div class="c-summary-4 -photo-left">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-1-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Development</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
        <!-- Summary -->
        <div class="c-summary-4 -photo-right">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-2-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Technical Design</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
        <!-- Summary -->
        <div class="c-summary-4 -photo-left">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-3-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Interaction Design</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
        <!-- Summary -->
        <div class="c-summary-4 -photo-right">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-4-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Visual Design</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
        <!-- Summary -->
        <div class="c-summary-4 -photo-left">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-5-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Project Management</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
        <!-- Summary -->
        <div class="c-summary-4 -photo-right">
            <div class="c-container">
                <div class="c-summary-4-photo" data-cursor-bg-img="assets/img/about-6-square.jpg"></div>
                <div class="c-summary-4-info">
                    <h6 class="c-summary-4-sup">SERVICE</h6>
                    <h2 class="c-summary-4-title">Animation</h2>
                    <p class="c-summary-4-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere ut eros non suscipit. Vivamus bibendum orci sed augue congue facilisis. Curabitur placerat accumsan egestas.</p>
                    <p class="c-summary-4-link"><a href="#" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- Summary End -->
    </div>
</div>
<!-- Section Services End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->