{% load static %}

<!-- Section Services -->
<div class="c-section">
    <div class="c-container -size-full">
        {% for item in add_what_we_do %}
            <!-- Summary -->
            <div class="c-summary-4 -photo-left">
                <div class="c-container">
                    <div class="c-summary-4-photo" data-cursor-bg-img="{{ item.image.url }}"></div>
                    <div class="c-summary-4-info">
                        <h6 class="c-summary-4-sup">{{ item.title }}</h6>
                        <h2 class="c-summary-4-title">{{ item.subtitle }}</h2>
                        <p class="c-summary-4-description">{{ item.description }}</p>
                        <p class="c-summary-4-link"><a href="{{ item.link }}" class="c-button-1 -color-green-outline -hover-green-default -size-small -corner-circle">READ MORE <i class="c-button-1-icon -right ion-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>
            <!-- Summary End -->
        {% endfor %}

    </div>
</div>
<!-- Section Services End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->