{% load static %}

<!-- Section Title -->
<div class="c-section -space-large -bg-green">
    <div class="c-section-photo" data-cursor-bg-img="{{ what_we_do.banner.url }}"></div>
    <div class="c-container">
        <!-- Heading -->
        <h6 class="u-text-sup">{{ what_we_do.title }}</h6>
        <h1 class="u-text-hero">{{ what_we_do.subtitle }}</h1>
        <p class="u-text-lead">{{ what_we_do.description }}</p>
        <!-- Heading End -->
    </div>
</div>
<!-- Section Title End -->

<!-- Divider -->
<div class="c-divider-1 -style-solid -size-large"></div>
<!-- Divider End -->