{% load static %}

<!-- Section About -->
<div class="c-section -space-large">
    <div class="c-container">
        <!-- Heading -->
        <h6 class="u-text-sup">{{ about.title_about }}</h6>
        <h2 class="u-text-title">{{ about.subtitle_about }}</h2>
        <!-- Heading End -->

        <!-- Space -->
        <div class="u-space"></div>
        <!-- Space End -->

        <!-- Summaries -->
        <div class="row -gutter-medium">
            <!-- Summary -->
            <div class="col-md-6">
                <h5 class="u-margin-bottom u-text-w400">{{ about.column1_title }}</h5>
                <p class="u-color-grey"> {{ about.column1_description }}</p>
                <p><a href="{{ about.column1_link }}" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
            </div>
            <!-- Summary End -->
            <!-- Summary -->
            <div class="col-md-6">
                <h5 class="u-margin-bottom u-text-w400">{{ about.column2_title }}</h5>
                <p class="u-color-grey">{{ about.column2_description }}</p>
                <p><a href="{{ about.column2_link }}" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
            </div>
            <!-- Summary End -->
        </div>
        <!-- Summaries End -->
    </div>
</div>
<!-- Section About End -->